.contenedor {
    /* border: black solid 2px; */
    /* background-color: aqua; */
    min-width: 80%;
    width: 90%;
    margin: auto;
    /* border-radius: 12px; */
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 2px 4px 4px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}